@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.countiner-style{
    height: 100%;
    position: relative;
}

.carousel {
    width: 21px;
    height: 23px;
    background-color: #00b3ff;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 2px 2px rbg(73 ,72, 72 ,0.338);
}
