#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  width: 21px;
  height: 23px;
  background-color: #00b3ff;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 2px 2px rbg(73 ,72, 72 ,0.338);
}

/* headerTab */
.logo{
  margin-left: 30px;
}

.checkbtn{
  font-size: 30px;
  color: aliceblue;
  cursor: pointer;
  margin-left: 15px;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 952px) {
.logo{
    padding-right: 250px;
  }
  .uppercase{
    font-size: 15px;
  }
}

@media (max-width: 858px) {
  .checkbtn{
    display: block;
  }
  .uppercase{
    position: fixed;
   
    left: -100%;
  
  }
  .uppercase .a{
    display: block;
    font-size: 20px;
  }
  #check:checked ~ .uppercase .a{
    left: 0;
  }
 
}